html, body {
    height:100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

body{
    background-color:antiquewhite;
}

button{
    padding: 100px 100px;
    border-radius: 50%;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

.button-container{
    top: 10%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.left-column *{
    margin: 10%;
    margin-left: 40%;
}

.right-column *{
    margin: 10%;
}

.click-animation{
    opacity: 15%;
}

.game-text{
    text-align: center;
    margin-bottom:2%;
    font-size: large;
    font-style: bold;
}

.game-over{
    background: red;
}